.venv
__pycache__
**/__pycache__
.pytest_cache
.ruff_cache
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
alembic/versions/__pycache__
.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
*.egg-info
**/*.egg-info
.git
